.musicBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.musicBox .musicList {
  width: 350px;
  margin-right: 80px;
}

.musicBox .musicList .musicListTitle {
  width: 350px;
  height: 50px;
  background-color: #fff;
  line-height: 50px;
  font-size: 20px;
  border-top: 1px dotted #A9A9A9;
  border-bottom: 1px dotted #A9A9A9;
  margin-bottom: 30px;
}

.musicBox .musicList .musicContentBox {
  height: 300px;
  overflow-y: scroll;
}

.musicBox .musicList .musicContent {
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px dotted #A9A9A9;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #777777;
  cursor: pointer;
}

.musicBox .musicList .musicContent .playIcon {
  width: 20px;
  height: 20px;
  position: relative;
  top: 20px;
  background: url(../../assets/playIcon.png);
  margin: 0 15px;
}

.musicBox .musicList .musicContent .playIconSelect {
  width: 20px;
  height: 20px;
  position: relative;
  top: 20px;
  background: url(../../assets/playIconOn.png);
  margin: 0 15px;
}

.musicBox .musicList .musicContent .playIconSelect + a {
  color: #FCD200;
}

.musicBox .musicList .musicContent .playName {
  width: 85%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.musicBox .musicList .pagination {
  width: 100%;
  height: 40px;
}

.musicBox .musicList .pagination ul {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.musicBox .musicList .pagination ul li {
  list-style-type: none;
}

.musicBox .musicList .pagination ul li a {
  text-decoration: none;
  display: block;
  color: #d8450b;
  line-height: 38px;
  padding: 0 10px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}

.musicBox .musicList .pagination ul li a:hover {
  background-color: #f5f5f5;
}

.musicBox .musicList .pagination ul li:first-child a {
  border-left-width: 1px;
}

.musicBox .musicList .pagination ul .disabled a,
.musicBox .musicList .pagination ul .active a {
  color: #999999;
  cursor: default;
  background-color: #f5f5f5;
}

.musicBox .musicPlay {
  width: 1210px;
  height: 35vmax;
  border: 1px dotted #A9A9A9;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.musicBox .musicPlay .musicPlayBox {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.musicBox .el-tabs__nav {
  z-index: 0;
}

.musicBox .el-tabs--card > .el-tabs__header {
  border-bottom: none;
}

.musicBox .el-tabs--card > .el-tabs__header .el-tabs__item {
  border-bottom: 1px dotted #A9A9A9;
}

.musicBox .el-tabs--card > .el-tabs__header .el-tabs__nav {
  border: none;
  border-bottom: none;
}

.musicBox .el-tabs--card > .el-tabs__header .el-tabs__item {
  color: #777777;
  border-left: none;
  font-size: 20px;
  font-family: "Segoe UI", "Microsoft Yahei", "\5FAE\8F6F\96C5\9ED1";
  font-weight: bold;
}

.musicBox .el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
  color: #D8450B;
  border: 1px dotted #A9A9A9;
  border-bottom: none;
  background-color: #FEF9FD;
}

.musicBox .el-tab-pane {
  margin-top: 15px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.musicBox .el-tab-pane a {
  font-size: 20px;
  text-decoration: none;
  color: #777777;
  margin: 10px 10px;
}

.musicBox .el-tab-pane .playTypeSelect {
  color: #D8450B;
}

.musicBox .straight {
  display: none;
  position: absolute;
  width: 350px;
  top: 240px;
  left: 140px;
}

@media screen and (max-width: 1610px) {
  .musicBox .musicList {
    position: relative;
    top: 240px;
  }
  .musicBox .musicPlay {
    height: 45vmax;
  }
}

@media screen and (max-width: 1015px) {
  .musicBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: wrap-reverse;
            flex-flow: wrap-reverse;
  }
  .musicBox .musicList {
    width: 100%;
    top: 250px;
    margin-right: 0;
  }
  .musicBox .musicList .musicListTitle {
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  height: 10px;
  border-radius: 10px;
  background: #d8450b;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
/*# sourceMappingURL=Music_box.css.map */